@model string[]

<h1>Логи</h1>

<table class="table">
    <thead>
        <tr>
            <th>Запись</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model)
        {
            <tr>
                <td>@log</td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Index" class="btn btn-secondary">Назад</a>